{% extends 'base.html' %}

{% block content %}

<h1> Movie Poster Detail </h1>

<div class="card">
  <div class="card-content">
    <div class="flex-container">
<div>
    
    <span class="card-title">{{ movie.name }}</span>

    <p>description: {{ movie.description }}</p>
    <p>duration: {{ movie.duration }}</p>
    <p>actors: {{ movie.actors }}</p>
    
    {% if movie.year > 1700 %}
    <p>year: {{ movie.year }}</p>
    {% else %}
    <p>movie is too old</p>
    {% endif %}


  <div class="card-action">
<a href="{% url 'movieposter_update' movie.id %}">Edit</a>
<a href="{% url 'movieposter_delete' movie.id %}">Delete</a>
  </div>
  </div>
  <div>
</div>
    {% load static %}
    <img width="200px" height='200px'src="{% static movie.image|cut:'main_app/static/' %}"/>
  </div>
</div>

</div>
<div>
  <form action="{% url 'add_rating' movie.id %}" method="POST">
    {% csrf_token %}
    {{ rating_form.as_p }}
    <input type="submit" class="btn blue-grey darken-4" value="Add Rating">
</form>
{% if movie.rate_movie > 3 %}
<div class="card-panel teal-text center-align">{{movie.name}} is a Great Movie</div>
  {% else %}
<div class="card-panel red-text center-align">{{movie.name}} might be not be that Good</div>
  {% endif %}
  <table class="striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <!-- built in method (cat.feeding_set.all) that give all record -->
      {% for rating in movie.rating_set.all %}
      <tr>
        <td>{{rating.date}}</td>
        <td>{{rating.get_rank_display}}</td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>
  <hr>


<div class="row">
  <div class="col s6 ">
    <h3> {{ movie.name }}'s Actors</h3>
    {% if movie.actors.count  %}
      {% for actor in movie.actors.all  %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            A <span > {{actor.age}} Years Old</span> {{ actor.name }}
          </span>
        </div> 
        <div class="card-action">
          <form action="{% url 'unassoc_actor' movie.id actor.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn grey darken-1">Remove</button>
          </form>
      </div>
      </div>
      {% endfor %}
      {% else %}
      <h5> No Actors Yet :( </h5>
      {% endif %}
    </div>

  <div class="col s6">
    <h3>Available Actors</h3>
    {% if actors.count %}
    {% for actor in actors.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          A <span>{{ actor.name}}</span> {{ actor.age }} Years Old
        </span>
      </div>
      <div class="card-action">
        <form action="{% url 'assoc_actor' movie.id actor.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn grey darken-1">Add</button>
        </form>
        </div>
    </div>
    {% endfor %}

    {% else %}
    <h5>{{ movie.name }} Already has All Actors Available.</h5>
    {% endif %}

  </div>
  </div>

  <!-- write JS AT the end but inside endblock -->
<script>
  let dateEle = document.getElementById('id_date');
  M.Datepicker.init(dateEle, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoclose: true
  })

  let rankingEle = document.getElementById('id_rank');
  M.FormSelect.init(rankingEle);
</script>

{% endblock %}