{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Poster Collector</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper black">
        <ul>
          <li><a href="{% url 'home' %}" class="left brand-logo"><img src="\static\uploads\movielogo.PNG" alt="" width="100px" height="65"></a></li>
        </ul>
        <ul class="right">
          <li><a href="{% url 'about' %}">About</a></li>
          <li> <a href="{% url 'movieposter_create' %}">Add Movie Poster</a></li>
          <li><a href="{% url 'index' %}">View All My Poster</a></li>

          <li><a href="{% url 'actors_index' %}">View All Actors</a></li>
          <li><a href="{% url 'actors_create' %}">Add Actor</a></li>
        </ul>
  
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  
  <footer class="page-footer blue-grey lighten-1">
    <div class="right blue-grey lighten-1">
    All Rights Reserved, &copy; 2023 Movies Posters Collector
  </div>
  </footer>
</body>
</html>